.link--register{
    text-align: center;
    padding-top: 30px;
}

h3{
    padding-bottom: 30px;
}

.btn{
    margin-top: 30px;
}

.password_eye{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.2rem;
}