<h3>Privacy policy</h3>
<p>Het waarborgen van de privacy van bezoekers is een belangrijke taak voor ons. Daarom beschrijven we in onze privacy policy welke informatie we verzamelen en hoe we deze informatie gebruiken.</p>


<h5>Toestemming</h5>
<p>Door gebruik te maken van de diensten die deze website aanbiedt, aanvaardt u alle bepalingen van deze privacy policy en stemt u ermee in dat deze website uw persoonsgegevens verzamelt en verwerkt in overeenstemming met dit Privacybeleid en de voorwaarden die wij hierin hebben opgenomen.</p>

<p>Wanneer de verwerking uitsluitend gebaseerd is op je toestemming, heb je ten allen tijde het recht deze toestemming weer in te trekken, zonder dat dit afbreuk doet aan de rechtmatigheid van de verwerking vóór de intrekking. </p>

<h5>Vragen</h5>
<p>Als u meer informatie wilt ontvangen, of vragen hebt over de privacy policy kunt u ons benaderen via e-mail. Ons e-mailadres is <a href="mailto:ehlersdanlossite@gmail.com">ehlersdanlossite@gmail.com</a>  </p>

<h5>Gegevens</h5>
<p>Deze site verwerkt persoonsgegevens in het kader van de uitvoering van haar taken. We verzamelen mogelijk en indien nodig volgende categorieën van gegevens:</p>
  <ul>
      <li>Identificatiegegevens (bijv. naam, adres,..)</li>
      <li>Gegevens betreffende gezondheid</li>
      <li>Gegevens van de behandelaar (riziv-nummer en functie)</li>
    </ul>  

<h5>Met welk doel?</h5>
<p>Deze website gebruikt je persoonsgegevens enkel voor volgende doeleinden:</p>
  <ul>
      <li> De geregistreerde persoon zelf</li>
    </ul>  
   <p> Deze website draagt er zorg voor dat deze persoonsgegevens op een rechtmatige, behoorlijke, proportionele en transparante manier verwerkt worden.
    </p>


<h5>Wat betekent 'verwerking van gegevens'?</h5>
<p>Onder de verwerking van gegevens verstaan we o.a. het opslaan, verzamelen, bewerken, gebruiken, kopiëren, doorgeven en verwijderen van gegevens. De verantwoordelijke voor de verwerking van gegevens is deze website zelf.  </p>


<h5>Gebruik e-mailadres en mailen</h5>
<p>U ontvangt enkel een mail van ons wanneer u hier zelf voor vraagt door bijvoorbeeld een aanvraag te doen naar behandelaars of door het contactformulier in te vullen. Er worden geen verdere mails verstuurd, indien u toestemming geeft.</p>


<h5>Derden</h5>
<p>Wij geven geen gegevens door aan derden tenzij hiervoor toestemming gegeven is.
    De persoonsgegevens worden niet bekendgemaakt aan andere derden dan de in deze privacy policy bedoelde derden en worden niet gebruikt voor promotionele, commerciële of ‘direct marketing’-doeleinden.
    In geen geval zullen gegevens die deze website zelf verzamelt, verkocht of verhuurd worden aan derden.</p>



<h5>Gegevens verwijderen</h5>
<p>U kan uw gegevens op eender welk moment verwijderen. Door naar uw profiel te gaan en op de verwijder-knop te klikken en op permanent te klikken, zijn al uw gegevens definitief verwijderd.</p>


<h5>Wat als het toch misloopt met de beveiliging van deze gegevens?</h5>
<p>Onder de GDPR moet deze website elk probleem dat waarschijnlijk een hoog risico inhoudt voor de rechten en vrijheden van natuurlijke personen zo snel mogelijk melden aan de betrokkene wiens persoonsgegevens betrokken zijn. Wij stellen dan ook alles in het werk om deze problemen zo snel mogelijk op te lossen en werken ons beveiligingsbeleid bij om gelijkaardige problemen in de toekomst te vermijden. </p>


<h5>Welke rechten heb je betreffende de verwerking van je persoonsgegevens?</h5>
<p>Ben je een natuurlijke persoon dan heb je te allen tijd het recht om je persoonsgegevens op te vragen, in te kijken, te laten aanpassen, de verwerking ervan te laten beperken of bezwaar tegen de verwerking aan te tekenen, te laten overdragen of te laten verwijderen tenzij dit onder de uitzonderingen valt binnen de GDPR.</p>


<p>Mits bewijs van identiteit kunnen we jou (gratis) je persoonsgegevens toesturen.</p>
<p>Bij verdere vragen mail naar: <a href="mailto:ehlersdanlossite@gmail.com">ehlersdanlossite@gmail.com</a></p>
