.block{
    margin-bottom: 50px;
}

[type="checkbox"] + label{
    padding-right: 50px;
    margin: 10px 0;
}


.result{
    margin-bottom: 20px;
    background-color: #E0D6DD;
    border: 2px solid #E0D6DD;
}

.btn--download{
    margin-right: 10px;
}