<h3>Privacy Policy</h3>
<h5>Inhoud</h5>
<p>De beheerders van deze site (Tine Vancoillie en anderen) kan niet aansprakelijk gesteld worden voor foutieve of verouderde informatie. 
Heb je een vraag of opmerking over de inhoud van deze website? Mail naar ehlersdanlossite@gmail.com.</p>

<h5>Links</h5>
<p>Tine Vancoillie en andere beheerders kunnen niet aansprakelijk gesteld worden voor enige schade die zou voortvloeien uit het doorklikken naar websites of andere informatiebronnen waarnaar de eigen website verwijst.</p>

<h5>Intellectuele rechten</h5>
<p>Tine Vancoillie en andere beheerders behouden alle intellectuele rechten op de website en de hierop geplaatste informatie.
De informatie op de website mag gebruikt worden overeenkomstig de bepalingen van de Belgische auteurswetgeving.</p>