/* Variables */


$white: #ffffff;
$black: #000000;


$primary-color: #5F4B59;
$secondary-color: #E0D6DD;
$font-color:#3E3E3E;

$hypermobiel-color: #6DC35E;
$hsd-color: #4994C4;
$eds-color: #E8AE0D;
$other-color: #BF77C9;


$hypermobiel-color-light: rgba(#62F747, 0.45);
$hsd-color-light: rgba(#33B0FF, 0.45);
$eds-color-light: rgba(#FDC93A, 0.45);
$other-color-light: rgba(#EC82FA, 0.45);


$error-color: #AF0000;
$succes-color: rgb(79, 212, 26);
$warning-color: rgb(221, 128, 22);


