@import '../../styles.scss';

.grid__container{
    margin-top: 20px;
}

.bodySvg{
    width: 60%;
}


@media (max-width: 768px) {
    .bodySvg{
        width: 100%;
    }
}


.device__image{
    width: 50px;
}

.title{
    color: $primary-color;
}

hr{
    border: 0.5px solid $primary-color;
}

.info{
    font-size: 0.9rem;
}




.body{
    display: none;
}

.header{
    text-transform: uppercase;
    font-weight: bold;
}

.block{
    padding-bottom: 20px;
}